<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mishasho.tienda.moda">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".productDetail.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".type.TypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userLogin.RecuperarContraseñaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".checkoutPayment.CulquiActivity"
            android:screenOrientation="portrait" />
        <activity
        android:name=".userRegistration.RegisterActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".userRegistration.RegisterVeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cart.CartActivity"
            android:screenOrientation="portrait" />
        <!-- Nuevo Activity-->
        <activity android:name=".productDetail.FotoFullActivity"
            android:label="Foto Detalle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".productDetail.SliderProductDetailFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userProfile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".userLogin.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".prductGrid.ProductGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".userProfile.UserOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashScreen.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".PushNotification.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".PushNotification.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.ProductGridService"
            android:exported="false" />
        <service
            android:name=".services.CategoryService"
            android:exported="false" />
        <service
            android:name=".services.ProductGridGetService"
            android:exported="false" />
        <service
            android:name=".services.UserRegistrationService"
            android:exported="false" />
        <service
            android:name=".services.UserLoginService"
            android:exported="false" />
        <service
            android:name=".services.ProductImagesService"
            android:exported="false" />
        <activity android:name=".category.CategoryActivity" />
        <activity android:name=".userProfile.UserFavActivity" />
        <activity
            android:name=".checkoutPayment.ShippingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
        android:name=".checkoutPayment.ShippingPagoActivity"
        android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".checkoutPayment.OpinionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".checkoutPayment.ConfirmActivity" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity android:name=".search.SearchActivity"
            android:windowSoftInputMode="stateHidden">
            <!--android:windowSoftInputMode="stateVisible"-->
        </activity>
    </application>

</manifest>